<div class="container">
    <form [formGroup]="form" noValidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="type">Type</label>
          <input formControlName="typePresta" type="text" class="form-control" id="type">
        </div>
        <div class="form-group">
            <label for="client">Client</label>
            <input formControlName="client" type="text" class="form-control" id="client">
          </div>
          <div class="form-group">
            <label for="nbjours">Nb de jours</label>
            <input formControlName="nbJours" type="number" class="form-control" id="nbjours">
          </div>
          <div class="form-group">
              <label for="tjmht">tjmht</label>
              <input formControlName="tjmHt" type="number" class="form-control" id="tjmht">
          </div>
          <div class="form-group">
              <label for="tva">tva</label>
              <input formControlName="tauxTva" type="number" class="form-control" id="tva">
          </div>
          <div class="form-group">
              <label for="state">state</label>
              <select formControlName="state" class="form-control" id="state">
                <option *ngFor="let state of states | keyvalue" [value]="state.value">{{ state.value }}</option>
              </select>
          </div>
          <div class="form-group">
              <label for="comment">comment</label>
              <textarea formControlName="comment" name="comment" id="comment" class='col-12'>{{ form.get('comment').value}}</textarea>
          </div>

        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
